@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
    background-color:rgb(132, 193, 253);
    font-family: Nunito;
}

.container {
    background-color: white;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    width: 60%;
    padding: 10px
}

.header {
font-size: 24px;
font-weight: 500;
display: inline;

}

.header2 {
    font-size:24px;
    margin: 10px 0 ;
    padding: 0;
    font-weight: 500;
    display: inline;
    }

.desc {
margin: 8px 0 13px 0;
font-weight: 300;
}

.langhead {
font-size: 28px;
margin: 10px 0 0 0;
font-weight: 500;
}

img {
    width: 70px;
    max-width: 80px;
    display: inline;
   padding-left: 10px;
}

img:first-of-type{
padding-left: 0px;
}
